@import "mixins.scss";

// Colors website https://coolors.co/c9e4ca-87bba2-55828b-3b6064-364958
$_tea-green: #c9e4ca;
$_eton-blue: #87bba2;
$_steel-teal: #55828b;
$_amethyst-smoke: #9a94bc;
$_tree-poppy: #fb8b24;
$_amaranth: #ef2d56;
$-red-urgent: #f219195c;
$_lily: #c19ab7;
$_eastern-blue: #1b9aaa;
$_green-haze: #04a777;
$_pine-glade: #d0cd94;
$_atlantis: #3cbd2ae0;

body {
  background-color: $_tea-green;
  min-height: 100vh;
}

.header {
  text-align: center;
}

.project-list-wrapper {
  @include flex-center-column;
  background-color: $_eton-blue;
  border-radius: 10px;
  height: 100%;
  padding: 15px 0;
}

.task-list-wrapper {
  background-color: $_steel-teal;
  border-radius: 10px;
  height: 100%;
  padding: 15px 0;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

.card-content {
  background-color: $_amethyst-smoke;

  &.-complete {
    background-color: $_atlantis;
  }
}

.card-footer {
  background-color: $_amethyst-smoke;
  border-top: 0;
}

.button {
  border-color: transparent;

  &.open-project-btn {
    background-color: $_green-haze;
  }

  &.complete-proj-btn {
    background-color: $_tree-poppy;
  }

  &.delete-proj-btn {
    background-color: $_amaranth;
  }

  &.add-task-btn {
    background-color: $_eastern-blue;
  }
}

.project-details-header {
  text-align: center;
}

.project-details-wrapper {
  background-color: $_lily;
}

.project-tasks-wrapper {
  padding: 0 30%;
}

.todo-card {
  margin: 5px;

  &.-complete {
    background-color: green;
  }
}

.todo-card-footer,
.card-header {
  background-color: $_pine-glade;

  &.-urgent {
    background-color: $-red-urgent;
  }

  &.-complete {
    background-color: #1ab71a;
  }
}

.card-header-title {
  &.-urgent {
    color: red;
  }
}

.task-card-content {
  &.-complete {
    background-color: #82ce6d;
  }
}

.priority-info {
  &.-urgent {
    color: red;
    font-weight: bolder;
  }
}

.complete-todo {
  background-color: $_green-haze;
}

.delete-todo {
  background-color: $_amaranth;
}
