@import "mixins.scss";

// Colors website https://coolors.co/c9e4ca-87bba2-55828b-3b6064-364958
$_tea-green: #C9E4CA;
$_eton-blue: #87bba2;
$_steel-teal: #55828b;
$_deep-space: #3b6064;
$_charcoal: #364958;
$_amethyst-smoke: #9A94BC;
$_tree-poppy: #FB8B24;
$_amaranth: #EF2D56;
$_lily: #C19AB7;
$_eastern-blue: #1B9AAA;
$_green-haze: #04A777;

body {
  background-color: $_tea-green;
}

.header {
  text-align: center;
}

.content-wrapper {
  height: 100vh;
}

.project-list-wrapper {
  @include flex-center-column;
  background-color: $_eton-blue;
  border-radius: 10px;
  height: 100%;
  padding: 15px 0;
}

.task-list-wrapper {
  background-color: $_steel-teal;
  border-radius: 10px;
  height: 100%;
  padding: 15px 0;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

.card-content {
  background-color: $_amethyst-smoke;
}

.card-footer {
  background-color: $_amethyst-smoke;
  border-top: 0;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

.card-content {
  background-color: $_amethyst-smoke;
}

.card-footer {
  background-color: $_amethyst-smoke;
  border-top: 0;
}

.button {
  border-color: transparent;

  &.open-project-btn {
    background-color: $_green-haze;
  }

  &.complete-proj-btn {
    background-color: $_tree-poppy;
  }

  &.delete-proj-btn {
    background-color: $_amaranth;
  }

  &.add-task-btn {
    background-color: $_eastern-blue;
  }

}

.project-details-header {
  text-align: center;
}

.project-details-wrapper {
  background-color: $_lily;
}

.project-tasks-wrapper {
  padding: 0 30%;
}