@import "mixins.scss";

.header {
  text-align: center;
}

.content-wrapper {
  display: flex;
  height: 90vh;
}

.project-list-wrapper {
  border: 2px solid green;
  @include flex-center-column;
  min-width: 20%;
}

.task-list-wrapper {
  border: 1px solid orange;
  flex-grow: 2;
}
